.header {
  position: sticky;
  top: 0;
  background-color: #f5f8fa;
  z-index: 9;
}

.headerDesktop {
  display: none;
}

.headerImageContainer {
  position: relative;
  height: 3.5rem;
  width: 4rem;
  z-index: 10;
}

.headerLangSelector {
  display: block;
  padding-right: 20px;
}

.headerMobile {
  display: flex;
}

.headerImageContainerMobile {
  position: fixed;
  top: 0.7rem;
  height: 3.5rem;
  width: 3.6rem;
  margin-left: 0.4rem;
  z-index: 10;
}

.headerLangSelectorMobile {
  height: 4rem;
  position: fixed;
  top: 1.5rem;
  right: 0.7rem;
  width: 3rem;
  z-index: 10;
}

@media screen and (min-width: 750px) {
  .headerDesktop {
    display: flex;
  }
  .headerMobile {
    display: none;
  }  
}
