.navbarHide {
  display: none;
}

.navbarButtonSelected {
  border-bottom: 1px solid #f2bf08;
}

.navbarButton {
  margin: 0.5rem 0;
}

.navbar {
  align-items: center;
  background-color: #f5f8fa;
  border-right: 1px solid #f2f2f2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  padding-top: 10vh;
  position: fixed;
  width: 35vw;
  z-index: 9;
}

@media screen and (min-width: 750px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem;

    align-items: flex-start;
    background-color: inherit;
    border-right: none;
    box-shadow: none;
    flex-direction: row;
    height: auto;
    position: static;
    z-index: auto;
  }

  .navbarButton {
    margin: 0 0.5rem;
  }

  .navbarHide {
    display: flex;
  }
}