.whatsappFloat {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 45px;
  right: 45px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 55px;
  text-align: center;
  font-size: 35px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsappFloat {
      width: 45px;
      height: 45px;
      bottom: 25px;
      right: 15px;
      font-size: 22px;
  }
}
