.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
  margin-bottom: 2.5rem;
}

.contactTitle {
  font-weight: 300;
  font-size: 2.5rem;
}
